<a href="https://colab.research.google.com/github/Bigfredoh/Machine-Learning/blob/main/Airline_Twitter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing Libraries

In [36]:
import pandas as pd
import numpy as np

#Loading of Dataset

In [37]:
df= pd.read_csv('McDonalds-Sentiment.csv', encoding= 'unicode_escape')
df.head()

    _unit_id  ...                                             review
0  679455653  ...  I'm not a huge mcds lover, but I've been to be...
1  679455654  ...  Terrible customer service. Î¾I came in at 9:30...
2  679455655  ...  First they "lost" my order, actually they gave...
3  679455656  ...  I see I'm not the only one giving 1 star. Only...
4  679455657  ...  Well, it's McDonald's, so you know what the fo...

[5 rows x 10 columns]

In [38]:
df.shape

(1525, 10)

# Cleaning the Review Column

In [39]:
import string
import re
nltk.download('stopwords')
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
corpus = []
for i in range(0, 1525):
  ps = PorterStemmer()
  review = df['review'][i]
  review = ''.join(i for i in review if ord(i)<128)
  review = review.lower()
  remove_num=re.sub(r'\d+','',review)
  remove_punc = remove_num.translate(str.maketrans('','',string.punctuation))
  remove_white_space =  remove_punc.strip()
  all_stopwords = stopwords.words('english')
  all_stopwords.remove('not')
  review = ([ps.stem(word) for word in remove_white_space.split() if word not in set()])
  review = ' '.join(review)
  corpus.append(review)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# Bag of Words(BoW)

In [41]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(corpus).toarray() 
y = df.iloc[:, 7].values

In [42]:
print(y)

['Atlanta' 'Atlanta' 'Atlanta' ... 'New York' 'Chicago' 'Los Angeles']

# Encoding the dependent Variable

In [43]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y=le.fit_transform(y)

#Splitting of the dataset into test and train

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

#Training the Naive Bayes model on the Training set

In [45]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

#Predicting the Test set results

In [46]:
y_pred = classifier.predict(X_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[6 7]
 [5 5]
 [5 0]
 [5 5]
 [5 5]
 [1 7]
 [5 8]
 [5 5]
 [6 5]
 [3 4]
 [5 1]
 [5 6]
 [5 6]
 [6 5]
 [7 6]
 [7 1]
 [5 5]
 [1 1]
 [5 0]
 [5 0]
 [4 5]
 [5 6]
 [5 5]
 [9 3]
 [5 6]
 [6 6]
 [1 5]
 [5 3]
 [5 3]
 [3 5]
 [5 0]
 [7 5]
 [3 1]
 [8 7]
 [5 8]
 [5 5]
 [5 2]
 [7 5]
 [1 5]
 [5 6]
 [2 2]
 [5 5]
 [6 0]
 [0 0]
 [1 2]
 [7 7]
 [7 6]
 [5 1]
 [1 4]
 [7 7]
 [5 3]
 [1 9]
 [5 6]
 [5 4]
 [0 5]
 [4 2]
 [7 4]
 [5 7]
 [5 3]
 [0 5]
 [5 8]
 [5 2]
 [5 5]
 [5 5]
 [1 9]
 [2 9]
 [5 5]
 [5 9]
 [9 7]
 [5 2]
 [5 6]
 [5 7]
 [5 7]
 [5 9]
 [6 3]
 [3 7]
 [5 5]
 [6 7]
 [6 9]
 [1 3]
 [6 5]
 [4 9]
 [7 5]
 [4 0]
 [4 2]
 [1 5]
 [5 7]
 [5 3]
 [2 7]
 [5 7]
 [9 5]
 [5 5]
 [0 0]
 [1 9]
 [6 7]
 [1 8]
 [9 6]
 [7 0]
 [1 8]
 [5 6]
 [5 5]
 [6 1]
 [4 5]
 [7 0]
 [6 6]
 [9 5]
 [3 4]
 [1 1]
 [1 7]
 [1 7]
 [5 5]
 [1 1]
 [4 2]
 [5 5]
 [5 8]
 [6 6]
 [7 3]
 [1 6]
 [5 7]
 [0 4]
 [5 5]
 [5 1]
 [5 5]
 [1 1]
 [1 0]
 [5 1]
 [5 6]
 [5 7]
 [5 5]
 [5 5]
 [5 5]
 [5 1]
 [8 6]
 [7 7]
 [5 5]
 [4 6]
 [5 9]
 [1 0]
 [5 5]
 [1 1]
 [5 0]
 [4 4]
 [5 5]
 [5 7]
 [1 5]
 [1 0]
 [5 1]
 [1 2]
 [5 8]
 [1 4]
 [1 5]
 [5 2]
 [1 4]
 [1 3]
 [2 4]
 [1 1]
 [7 6]
 [7 8]
 [3 9]
 [2 7]
 [6 6]
 [3 5]
 [5 6]
 [3 5]
 [1 4]
 [1 5]
 [5 5]
 [5 5]
 [6 6]
 [4 6]
 [1 8]
 [5 4]
 [6 5]
 [8 2]
 [1 0]
 [5 5]
 [3 9]
 [5 0]
 [5 7]
 [0 1]
 [1 9]
 [5 5]
 [5 9]
 [5 1]
 [9 5]
 [5 6]
 [6 8]
 [5 4]
 [2 2]
 [5 5]
 [5 6]
 [7 5]
 [7 3]
 [5 1]
 [5 6]
 [0 1]
 [5 0]
 [8 5]
 [5 9]
 [1 2]
 [6 1]
 [8 5]
 [5 2]
 [1 5]
 [4 5]
 [5 1]
 [1 1]
 [5 5]
 [3 5]
 [5 5]
 [2 5]
 [5 7]
 [1 4]
 [5 0]
 [9 5]
 [5 0]
 [6 6]
 [2 0]
 [5 9]
 [3 5]
 [5 5]
 [6 3]
 [5 2]
 [5 5]
 [5 5]
 [5 8]
 [1 5]
 [5 7]
 [5 6]
 [0 0]
 [1 5]
 [5 0]
 [5 7]
 [7 0]
 [7 7]
 [8 0]
 [1 1]
 [5 5]
 [1 0]
 [5 3]
 [5 5]
 [5 7]
 [5 4]
 [5 1]
 [5 0]
 [5 1]
 [9 6]
 [5 8]
 [4 7]
 [5 6]
 [1 8]
 [2 2]
 [5 5]
 [5 4]
 [6 5]
 [1 1]
 [5 1]
 [8 3]
 [5 1]
 [1 5]
 [2 8]
 [5 6]
 [5 5]
 [5 5]
 [0 5]
 [5 0]
 [5 6]
 [2 9]
 [5 3]
 [5 3]
 [1 1]
 [0 5]
 [4 9]
 [1 5]
 [5 3]
 [2 2]
 [7 4]
 [1 1]
 [9 9]
 [4 8]
 [8 4]
 [6 7]
 [5 9]
 [7 3]
 [5 1]
 [6 5]
 [5 5]
 [3 3]
 [0 1]
 [1 1]
 [1 5]
 [5 8]
 [3 5]
 [1 3]
 [5 5]
 [4 5]
 [2 5]
 [0 5]
 [7 9]
 [5 7]
 [1 5]
 [6 5]
 [5 7]
 [3 4]
 [6 1]]

#Confusion matrix and Accuracy

In [50]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[ 3,  5,  1,  0,  1, 12,  1,  3,  1,  0],
       [ 3, 12,  0,  1,  0, 14,  3,  1,  0,  0],
       [ 0,  3,  4,  0,  3,  6,  0,  0,  1,  0],
       [ 0,  3,  0,  1,  0,  9,  2,  3,  1,  1],
       [ 1,  5,  1,  3,  1,  5,  0,  2,  1,  0],
       [ 5, 13,  2,  6,  4, 41,  7,  4,  2,  4],
       [ 0,  1,  0,  0,  2, 17,  6,  3,  1,  2],
       [ 0,  3,  2,  1,  1, 15,  4,  4,  1,  1],
       [ 0,  4,  1,  0,  1,  8,  1,  1,  0,  0],
       [ 0,  4,  2,  2,  2,  7,  1,  1,  0,  1]])

In [51]:
from sklearn.metrics import confusion_matrix,accuracy_score
accuracy_score(y_test, y_pred)

0.23934426229508196