<a href="https://colab.research.google.com/github/Bigfredoh/Machine-Learning/blob/main/Amazon_Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing Libraries

In [6]:
import pandas as pd
import numpy as np

# Loading of dataset

In [9]:
df = pd.read_csv('Amazon_Unlocked_Mobile.csv')
df.head()

                                        Product Name  ... Review Votes
0  "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...          1.0
1  "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...          0.0
2  "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...          0.0
3  "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...          0.0
4  "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...          0.0

[5 rows x 6 columns]

In [13]:
df.dropna(inplace=True)
df = df[df['Rating'] !=3]
df['Positively Rated'] = np.where(df['Rating'] > 3,1,0)
df.head(10)

                                         Product Name  ... Positively Rated
0   "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...                1
1   "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...                1
2   "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...                1
3   "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...                1
4   "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...                1
5   "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...                0
6   "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...                0
7   "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...                0
8   "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...                1
11  "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...                1

[10 rows x 7 columns]

In [14]:
df['Positively Rated'].mean()

0.7482686025879323

# Splitting of the dataset into test and train

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df['Reviews'], df['Positively Rated'], random_state = 0)

In [22]:
print('X_train first entry: \n\n', X_train[0])
print('\n\nX_train shape', X_train.shape)

X_train first entry:

 I feel so LUCKY to have found this used (phone to us & not used hard at all), phone on line from someone who upgraded and sold this one. My Son liked his old one that finally fell apart after 2.5+ years and didn't want an upgrade!! Thank you Seller, we really appreciate it & your honesty re: said used phone.I recommend this seller very highly & would but from them again!!


X_train shape (231207,)

#CountVectorizer

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer().fit(X_train)
vectorizer.get_feature_names()[::2000]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['00',
 '4less',
 'adr6275',
 'assignment',
 'blazingly',
 'cassettes',
 'condishion',
 'debi',
 'dollarsshipping',
 'esteem',
 'flashy',
 'gorila',
 'human',
 'irullu',
 'like',
 'microsaudered',
 'nightmarish',
 'p770',
 'poori',
 'quirky',
 'responseive',
 'send',
 'sos',
 'synch',
 'trace',
 'utiles',
 'withstanding']

In [29]:
len(vectorizer.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

53216

In [30]:
vectorizer_transform = vectorizer.transform(X_train)
vectorizer_transform

<231207x53216 sparse matrix of type '<class 'numpy.int64'>'
	with 6117776 stored elements in Compressed Sparse Row format>

#Building Bag of Model

In [ ]:
X = []
for data in df:
    vector = []
    for word in freq_words:
        if word in nltk.word_tokenize(data):
            vector.append(1)
        else:
            vector.append(0)
    X.append(vector)
X = np.asarray(X)