<a href="https://colab.research.google.com/github/Bigfredoh/Machine-Learning/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing the libraries

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Importing the dataset

In [36]:
train_df = pd.read_csv('train.csv')

In [6]:
train_df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### Taking care of missing data

In [20]:
train_df['Embarked'].fillna(0, inplace = True)

In [19]:
def drop_col(col):
  train_df.drop(col, axis = 1, inplace = True)

In [37]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(train_df[['Age']])
train_df['Age'] = imputer.transform(train_df[['Age']])

In [38]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Encoding Ordinal Variable

In [39]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train_df['Sex'] = le.fit_transform(train_df['Sex'])

In [41]:
drop_col('PassengerId')

In [43]:
drop_col('Cabin')

In [44]:
train_df.head()

   Survived  Pclass  ...     Fare  Embarked
0         0       3  ...   7.2500         S
1         1       1  ...  71.2833         C
2         1       3  ...   7.9250         S
3         1       1  ...  53.1000         S
4         0       3  ...   8.0500         S

[5 rows x 10 columns]

### Feature transformation

In [52]:
titles = ['Mr', 'Mrs', 'Miss', 'Dr', 'Master', 'Rev', 'Mme','Col', 'Major', 'Capt', 'Countess', 'Jonkheer']
def get_titles(name):
  for title in titles:
    if title in name:
      return title
  return None

print(get_titles('Braund, Mr. Owen Harris'))
print(get_titles('Heikkinen, Miss. Laina'))

Mr
Miss

In [47]:
train_df['Title'] = train_df['Name'].apply(lambda x:get_titles(x))

In [49]:
drop_col('Name')

In [51]:
train_df['Title'].unique()

array(['Mr', 'Miss', 'Master', None, 'Rev', 'Dr', 'Mme', 'Major', 'Col',
       'Capt', 'Countess', 'Jonkheer'], dtype=object)

In [53]:
drop_col('Ticket')

In [54]:
train_df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked Title
0         0       3    1  22.0      1      0   7.2500        S    Mr
1         1       1    0  38.0      1      0  71.2833        C    Mr
2         1       3    0  26.0      0      0   7.9250        S  Miss
3         1       1    0  35.0      1      0  53.1000        S    Mr
4         0       3    1  35.0      0      0   8.0500        S    Mr

In [77]:
train_df.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked', 'Title'],
      dtype='object')

In [78]:
X_train_df= train_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked', 'Title']]
y_train_df = train_df['Survived']

In [80]:
X_train_df.head()

   Pclass  Sex   Age  SibSp  Parch     Fare Embarked Title
0       3    1  22.0      1      0   7.2500        S    Mr
1       1    0  38.0      1      0  71.2833        C    Mr
2       3    0  26.0      0      0   7.9250        S  Miss
3       1    0  35.0      1      0  53.1000        S    Mr
4       3    1  35.0      0      0   8.0500        S    Mr

In [81]:
y_train_df.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

### Encoding categorical data

In [82]:
X_train_df = pd.get_dummies(X_train_df, columns=[ 'Embarked', 'Title'])

In [83]:
X_train_df.head()

   Pclass  Sex   Age  SibSp  ...  Title_Miss  Title_Mme  Title_Mr  Title_Rev
0       3    1  22.0      1  ...           0          0         1          0
1       1    0  38.0      1  ...           0          0         1          0
2       3    0  26.0      0  ...           1          0         0          0
3       1    0  35.0      1  ...           0          0         1          0
4       3    1  35.0      0  ...           0          0         1          0

[5 rows x 20 columns]