<a href="https://colab.research.google.com/github/Bigfredoh/Machine-Learning/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#Importing the dataset

In [2]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [3]:
train_df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

#Taking care of missing data

In [4]:
train_df['Embarked'].fillna(0, inplace = True)
train_df.fillna(train_df['Age'].mean(), inplace=True)
train_df.drop('Cabin', axis = 1, inplace = True)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

#Encoding Ordinal Variable

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train_df['Sex'] = le.fit_transform(train_df['Sex'])

#Feature transformation

In [6]:
titles = ['Mr','Miss', 'Dr', 'Master', 'Rev', 'Mme','Col', 'Major', 'Capt', 'Countess', 'Mrs', 'Jonkheer']
def get_titles(name):
  for title in titles:
    if title in name:
      return title
  return None

print(get_titles('Braund, Mr. Owen Harris'))
print(get_titles('Heikkinen, Miss. Laina'))

Mr
Miss

In [7]:
train_df['Title'] = train_df['Name'].apply(lambda x:get_titles(x))

In [8]:
X_train= train_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked', 'Title']]
y_train = train_df['Survived']

In [9]:
X_train.head()

   Pclass  Sex   Age  SibSp  Parch     Fare Embarked Title
0       3    1  22.0      1      0   7.2500        S    Mr
1       1    0  38.0      1      0  71.2833        C    Mr
2       3    0  26.0      0      0   7.9250        S  Miss
3       1    0  35.0      1      0  53.1000        S    Mr
4       3    1  35.0      0      0   8.0500        S    Mr

In [10]:
y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

#Encoding categorical data

In [11]:
X_train = pd.get_dummies(X_train, columns=[ 'Embarked', 'Title'])

In [12]:
X_train.head()

   Pclass  Sex   Age  SibSp  ...  Title_Miss  Title_Mme  Title_Mr  Title_Rev
0       3    1  22.0      1  ...           0          0         1          0
1       1    0  38.0      1  ...           0          0         1          0
2       3    0  26.0      0  ...           1          0         0          0
3       1    0  35.0      1  ...           0          0         1          0
4       3    1  35.0      0  ...           0          0         1          0

[5 rows x 21 columns]

In [13]:
X_train.drop('Embarked_0', axis = 1, inplace = True)

In [14]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pclass          891 non-null    int64
 1   Sex             891 non-null    int64
 2   Age             891 non-null    float64
 3   SibSp           891 non-null    int64
 4   Parch           891 non-null    int64
 5   Fare            891 non-null    float64
 6   Embarked_C      891 non-null    uint8
 7   Embarked_Q      891 non-null    uint8
 8   Embarked_S      891 non-null    uint8
 9   Title_Capt      891 non-null    uint8
 10  Title_Col       891 non-null    uint8
 11  Title_Countess  891 non-null    uint8
 12  Title_Dr        891 non-null    uint8
 13  Title_Jonkheer  891 non-null    uint8
 14  Title_Major     891 non-null    uint8
 15  Title_Master    891 non-null    uint8
 16  Title_Miss      891 non-null    uint8
 17  Title_Mme       891 non-null    uint8
 18  Title_Mr        891 non-null    uint8
 19  Title_Rev       891 non-null    uint8
dtypes: float64(2), int64(4), uint8(14)
memory usage: 54.1 KB

#Training the model using RandomForest

In [15]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

#Preprocessing of the Test data

In [16]:
test_df['Age'].fillna(test_df['Age'].mean(), inplace=True)
test_df['Title'] = test_df['Name'].apply(lambda x:get_titles(x))
test_df.drop('Cabin', axis = 1, inplace = True)
test_df['Sex'] = le.fit_transform(test_df['Sex'])
test_df['Fare'].fillna(test_df['Fare'].mean(), inplace = True)
test_df.head()

   PassengerId  Pclass  ... Embarked  Title
0          892       3  ...        Q     Mr
1          893       3  ...        S     Mr
2          894       2  ...        Q     Mr
3          895       3  ...        S     Mr
4          896       3  ...        S     Mr

[5 rows x 11 columns]

In [17]:
X_test= test_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked', 'Title']]

In [18]:
X_test.head()

   Pclass  Sex   Age  SibSp  Parch     Fare Embarked Title
0       3    1  34.5      0      0   7.8292        Q    Mr
1       3    0  47.0      1      0   7.0000        S    Mr
2       2    1  62.0      0      0   9.6875        Q    Mr
3       3    1  27.0      0      0   8.6625        S    Mr
4       3    0  22.0      1      1  12.2875        S    Mr

In [19]:
X_test = pd.get_dummies(X_test, columns=[ 'Embarked', 'Title'])

In [20]:
X_test.head()

   Pclass  Sex   Age  SibSp  ...  Title_Master  Title_Miss  Title_Mr  Title_Rev
0       3    1  34.5      0  ...             0           0         1          0
1       3    0  47.0      1  ...             0           0         1          0
2       2    1  62.0      0  ...             0           0         1          0
3       3    1  27.0      0  ...             0           0         1          0
4       3    0  22.0      1  ...             0           0         1          0

[5 rows x 15 columns]

In [21]:
total_titles = train_df['Title'].unique().tolist()
test_titles = test_df['Title'].unique().tolist()
for title in total_titles:
  if title not in test_titles:
    print('Title_' + title + ' is not in Test set')
    X_test['Title_' + title] = 0

Title_Mme is not in Test set
Title_Major is not in Test set
Title_Capt is not in Test set
Title_Countess is not in Test set
Title_Jonkheer is not in Test set

In [22]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pclass          418 non-null    int64
 1   Sex             418 non-null    int64
 2   Age             418 non-null    float64
 3   SibSp           418 non-null    int64
 4   Parch           418 non-null    int64
 5   Fare            418 non-null    float64
 6   Embarked_C      418 non-null    uint8
 7   Embarked_Q      418 non-null    uint8
 8   Embarked_S      418 non-null    uint8
 9   Title_Col       418 non-null    uint8
 10  Title_Dr        418 non-null    uint8
 11  Title_Master    418 non-null    uint8
 12  Title_Miss      418 non-null    uint8
 13  Title_Mr        418 non-null    uint8
 14  Title_Rev       418 non-null    uint8
 15  Title_Mme       418 non-null    int64
 16  Title_Major     418 non-null    int64
 17  Title_Capt      418 non-null    int64
 18  Title_Countess  418 non-null    int64
 19  Title_Jonkheer  418 non-null    int64
dtypes: float64(2), int64(9), uint8(9)
memory usage: 39.7 KB

#Testing the trained model

In [26]:
survived_pred= classifier.predict(X_test)
survived_pred

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1])